@charset "UTF-8";

h1 { font-size: 12pt; font-weight: bold; }

.itm-main-title { font-family: NanumGothic !important; width: auto !important; padding: 5px 10px; }
.itm-main-title img { width: auto; height: 45px; }
